# Normalize line endings for all files that Git considers text files
* text=auto eol=lf

# Ignore all the other files
/**                                                export-ignore

# Include the frame timer addon folder
/addons/frame_timer                                !export-ignore

# Ignore the assets folder
/addons/frame_timer/assets/                        export-ignore

# Include the 64x64 frame timer image
/addons/frame_timer/assets/frame_timer_logo_node.png* !export-ignore

# Ignore the frame timer test folder as it's not required for the addon to function
/addons/frame_timer/test/                          export-ignore
